.header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 200px; */
  position: relative;
  color: #fff;
  background:
	  linear-gradient(
		  rgb(50, 187, 205),
		  transparent
	  ),
	  linear-gradient(
		  90deg,
		  rgb(178, 135, 235),
		  transparent
	  ),
	  linear-gradient(
		  -90deg,
		  rgb(252, 255, 80),
		  transparent
	  );

background-blend-mode: screen;
}

.user {
  margin-top: 0;
}