.new-tweet form {
  display: flex;
  flex-direction: column;
}
  
.new-tweet footer {
  display: flex;
  font-family: Bungee, sans-serif;
  justify-content: space-between;
  margin-top: 1em 0;
}
  
.new-tweet button {
  background-color: #99c7db;
  color: #fff;
}
  
.new-tweet button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
  cursor: pointer;
}
  
.new-tweet textarea {
  background-color: transparent;
  border: none;
  border-bottom: 4px gray;
  resize: none;
  height: 40px;
  margin-top: 1em;
}
  
.new-tweet textarea:focus {
  outline: none;
}



article.tweet {
  border: 4px solid black;
  margin: 1em auto;
  width: 100%;
}
  
article.tweet:hover {
  box-shadow: 5px 10px;
}
  
article.tweet header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
  
  .tweet-user {
    display: flex;
  }
  
.tweet-user p {
  margin: 1em;
}
  
.tweet-body {
  margin: 0 1em;
  border-bottom: 4px #000 solid;
}
  
article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
  
.icons {
  color: gray;
}
  
.fas:hover {
  color: #cb9edf;
  cursor: pointer;
}